
  .btn {
    color: var(--white);
    font-weight: 600;
    outline: none;
    transition: border, background-color, color, .2s ease-in-out;
  }
  
  .header__burger {
    display: none;
  }
  
  .header__search-top {
    display: none;
  }
  
  .hero-content__btn {
    border: 3px solid var(--amethyst);
    background-color: var(--amethyst);
  }
  
  .hero-content__btn:hover {
    /* padding: 22px 32px; */
    border: 3px solid var(--light-purple);
  }
  
  .hero-content__btn:active {
    color: var(--white);
    background-color: var(--purple);
  }
  
  .burger-enter {
    display: none;
  }
  
  .hero-content__btn:focus-visible::after {
    content: '';
    position: absolute;
    top: -9px;
    left: -9px;
    width: 105%;
    min-height: 79px;
    border: 2px solid var(--light-purple);
    border-radius: 100px;
  }
  

  
  .header {
    /* position: absolute;
    top: 0;
    width: 99%; */
    z-index: 11;
  }
  
  .header__top {
    display: flex;
    align-items: center;
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 1);
  }
  
  .header__container {
    width: 100%;
    /* padding: 10px 15px; */
    display: flex;
    align-items: center;
  }
  
  .header__logo {
    max-height: 40px;
    width: 173px;
    margin-right: 11.2%;
  }
  
  .logo {
    min-height: 40px;
    min-width: 186px;
  }
  
  .header-nav {
    min-width: 56%;
  }
  
  /* .focus-outline:focus {
    outline: 2px solid var(--purple);
    outline-offset: 6px;
  } */
  
  .header-nav__item:not(:last-child) {
    margin-right: 62px;
  }
  
  .header-nav__list {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }
  
  .header__nav-link{
    color: var(--white);
    cursor: pointer;
    font-size: 18px;
    line-height: 25px;
    transition: color .2s ease-in;
  }
  
  /* .header__nav-link:hover {
    color: var(--amethyst);
  }
  
  .header__nav-link:active {
    color: var(--purple);
  } */
  
  .main-nav__enter {
    display: none;
  }
  
  .header__enter-link {
    margin-left: auto;
    margin-right: 0;
    color: var(--white);
    cursor: pointer;
    transition: color, .2s ease-in-out;
    font-size: 18px;
    line-height: 25px;
  }
  
  .header__enter-link:hover {
    color: var(--viola);
  }
  
  .header__enter-link:active {
    color: var(--amethyst);
  }

  .header__enter-link:hover .main-nav-icon path {
    cursor: pointer;
    fill: var(--viola);
    stroke: none;
    transition: fill .2s ease-in-out;
  }

  .header__enter-link:active .main-nav-icon path {
    cursor: pointer;
    fill: var(--amethyst);
    stroke: none;
    transition: fill .2s ease-in-out;
  }
  
  
  .header__search-btn {
    position: relative;
    bottom: -7px;
    margin-right: 2%;
    width: 9%;
    min-height: 22px;
  }

  
  .header__search,
  .header__find {
    width: 31px;
    height: 30px;
    z-index: 27;
    background-color: transparent;
    background-image: url(../img/header/Search.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .header__search.active {
    position: relative;
    z-index: 27;
    width: 15px;
    height: 15px;
    background: none;
    -webkit-transition: -webkit-transform .4s linear;
    transition: -webkit-transform .4s linear;
    -o-transition: transform .4s linear;
    transition: transform .4s linear;
    transition: transform .4s linear, -webkit-transform .4s linear;
  }
  
  .header__search.active::before,
  .header__search.active::after {
    position: absolute;
    top: 11px;
    left: 0px;
    width: 30.3px;
    height: 2.93px;
    background-color: #fff;
    -webkit-transition: -webkit-transform .4s linear;
    transition: -webkit-transform .4s linear;
    -o-transition: transform .4s linear;
    transition: transform .4s linear;
    transition: transform .4s linear, -webkit-transform .4s linear;
    content: '';
  }
  
  .header__search.active::before {
    -webkit-transform: translateY(-2px) rotate(45deg);
        -ms-transform: translateY(-2px) rotate(45deg);
            transform: translateY(-2px) rotate(45deg);
  }
  
  .header__search.active::after {
    -webkit-transform: translateY(-2px) rotate(-45deg);
        -ms-transform: translateY(-2px) rotate(-45deg);
            transform: translateY(-2px) rotate(-45deg);
  }
  
  .header__form {
    height: 99px;
    position: fixed;
    top: 0px;
    left: 62%;
    z-index: 26;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 29%;
    padding: 24px 0px 19.5px 0px;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  
  .active + .header__form {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  
  .header__find {
    margin-right: 3px;
  }
  
  .header__input {
    width: 78%;
    height: 24px;
    font-size: 1em;
    line-height: 2em;
    color: #fff;
    background: none;
    border: none;
    border-bottom: 1px solid var(--smoky-white);
    outline: none;
  }
  
  .header__inner {
    display: none;
  }



  /* Min-width:1024 */
  @media (min-width:1025px) {
    .header__search {
      display: none;
    }

    .event-pagination {
      display: none;
    }
  }

  @media (max-width:1660px) {


    .contact__container {
      height: 100%;
      flex-direction: column;
    }

    .footer-form-input-container {
      display: flex;
    }
  }


  /* /* Max-width:1600 * */
  @media (max-width:1600px) {
    
    .header__bottom-item:not(:last-child){
      margin-right: auto;
    }

    .last-list {
      margin-right: auto;
    }

    .gallary-swiper-slide::before {
      width: 100%;
      height: 100%;
    } 

     .gallary-swiper-slide::after {
      width: 87%;
      height: 85%;
    }

    .contact-adress {
      max-width: 50%;
    }

    .footer-form {
      max-width: 70%;
    }

    .gallery__select {
      margin-bottom: 165px;
    }



    .contact__container {
      height: 100%;
      align-items: flex-start;
    }

    .footer-button-sent {
      font-size: 15px;
      padding: 12px 30px;
    }
  }


/* Max-width:1400px */
  @media (max-width:1400px) {

    .header-nav__item:not(:last-child) {
      margin-right: 19px;
    }
  
    .search__input, .search-mobile__input {
      width: 178px;
    }

    .hero {
      margin-bottom: 80px;
    }

    .faq__content-left-info {
      width: 48%;
    }

    .faq__accordion {
      width: 48%;
    }

    .artist-item {
      column-count: 2;
      }

    .projects-descr {
      max-width: 100%;
    }

    .contact__container {
      height: auto;
      flex-direction: column;
      align-items: flex-start;
    }

    .contact-adress {
      max-width: 50%;
    }

    .footer-form {
      max-width: 100%;
    }
  }

/* Min-width:1025px */
 

/* Max-width:1025px */
@media (max-width:1024px) {

  .container {
    padding: 0 51px;
  }

  .header__logo {
    margin: 0 auto;
    width: 361px;
  }
  /* .logo {
    min-width: 168px;
  } */
  .header__top {
    position: relative;
    padding: 30px 0;
  }
  .main-nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 768px;
    padding-left: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 11;
    transform: translateY(-100%);
    transition: transform .3s ease-out;
  }
  .header-nav__list {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-nav__item {
    display: inline-block;
    font-size: 24px;
  }
  .header-nav__item:not(:last-child) {
    margin-bottom: 35px;
  }
  .header-nav__item:first-child {
    margin-top: 19px;
  }

  .header-nav__item:last-child {
    margin-bottom: 163px;
  }

  .header__nav-link {
    font-size: 24px;
    line-height: 29px;
  }

  .header__input {
    width: 71%;
  }
  .header__enter-link {
    display: none;
  }
  .header__bottom {
    display: none;
  }
  .burger-enter {
    display: inline-block;
    min-width: 259px;
    margin-top: 30px;
    margin-left: 0;
    padding: 13px 50px;
    border-radius: 100px;
    border: 2px solid var(--viola);
    text-align: center;
    transition: background-color .3s ease-out;
  }
  .burger-enter:focus::after {
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    width: 240px;
    height: 65px;
    border: 2px solid var(--viola);
    border-radius: 38px;
  }
  .burger-enter:hover {
    background-color: var(--amethyst);
    outline: none;
  }
  .burger-enter:active {
    background-color: var(--purple);
  }
  .burger__active {
    transform: translateY(0);
  }
  .header__search-top {
    position: absolute;
    display: none;
    right: 46px;
    top: 24px;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-right: 5px;
  }
  .header__search-input {
    width: 70%;
  }
  .header__search-btn {
    width: 30px;
    height: 30px;
    background-size: contain;
  }
  .header__search_visible {
    display: inline-block;
  }
  .header__search {
    min-width: 29px;
  }
  .header__search-button {
    background-image: url(../img/header/Search.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
  }
  .button-mobile-icon:hover .button-mobile__pict {
    fill: var(--viola);
  }
  .header__search_active {
    background: url(/img/header/Search.svg) 0 0/cover no-repeat;
  }
  .header__search_active .button-mobile-icon {
    opacity: 1;
  }

  .burger {
    z-index: 3;
    display: block;
    width: 40px;
    height: 32px;
    padding: 0;
    margin-right: auto;
    margin-bottom: -1px;
    border: 0px solid transparent;
    background-image: url(../img/header/Burger.png);
    background-repeat: no-repeat;
    background-color: transparent;
    transition: background-image .3s linear;
  }

  .burger:active {
    background-image: url(../img/header/Burger.png);
  }

  .burger--open {
    background-image: url(../img/header/X.svg);
  }

  .burger--open:active {
    background-image: url(../img/header/X.svg);
  }

  .header__nav {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -668px;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 96px 0 51px 48px;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateY(0);
    transition: transform .3s linear;
  }

  .header__nav--hidden {
    visibility: hidden;
    transform: translateY(-768px);
  }

  .hero {
    margin-bottom: 82px;
  }

  .hero-content {
    padding: 105px 0 113px;
  }

  .hero-content__heading {
    margin-bottom: 0;
    line-height: 73px;
    font-size: 72px;
  }

  .hero-content__desc {
    max-width: 72%;
    margin-bottom: 135px;
    line-height: 27px;
    font-size: 18px;
  }

  .hero-content__btn {
    margin-bottom: 0;
    padding: 20px 34px;
    font-size: 18.4px;
  }

  .hero-content__btn:focus::after {
    min-height: 79px;
  }

  .about {
    margin-bottom: 71px;
  }

  .about-title {
    font-size: 48px;
  line-height: 65px;
  }

  .about-discription {
    max-width: 100%;
    margin-top: 0;
    font-size: 16px;
    line-height: 31px;
  }

  .gallery {
    margin-bottom: 22px;
  }

  .gallary-title {
    padding-top: 80px;
    line-height: 65px;
    font-size: 48px;
  }

  .filter-span {
    font-size: 16px;
    line-height: 32px;
  }

  .choices__inner {
    padding: 6.5px 3.5px 3.75px
  }

  .choices__inner {
    font-size: 14px;
  }

  .choices__list--dropdown {
    background: var(--smoky-white);
  }

  .choices__list--dropdown .choices__item {
    color: var(--black);
  }

  .choices__list--dropdown .choices__item:hover {
    background: rgba(0, 0, 0, 0.4);;
  }

  .choices__list--dropdown .choices__item:active {
    background: #666666;
  }

  .gallary-left-info {
    width: 30%;
  }

  .container-cat {
    padding-left: 20px;
    font-size: 15px;
    line-height: 20px;
}

  .checkmark {
    left: -3px;
  }

  .gallery__select {
    margin-bottom: 107px;
    margin-top: 20px;
  }

  .gallary-download {
    margin-bottom: 113px;
  }

  .gallery__right  {
    max-width: 64%;
  }

  .slider-button {
    width: 115px;
    margin-top: 19px;
    margin-left: 3px;
    margin-bottom: 9px;
  }

  .swiper-horizontal>.swiper-pagination-bullets, 
  .swiper-pagination-bullets.swiper-pagination-horizontal, 
  .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 19px;
  }

  .swiper-pagination {
    font-size: 16px;
    line-height: 32px;
  }

  .gallary-swiper-slide {
    height: 100%;
  }

  .gallery__right  {
    margin-bottom: 42px;
    margin-top: 75px;
  }

  .gallary-swiper {
    margin-top: 30px;
  }

  .faq {
    margin-bottom: 62px;
    padding-top: 57px;
  }

  .faq-intro {
    margin-bottom:39px ;
  }

  .faq__content-left-info {
    width: 47.5%;
  }

  .tab-content-image-main {
    margin-bottom: 24px;
  }

  .left-info-title {
    font-size: 24px;
  line-height: 39px;
  }

  .left-info-discr {
    max-width: 100%;
    font-size: 16px;
  line-height: 31px;
  }

  .tab-content-image-main {
    margin-bottom: 27px;
  }

  .faq__accordion {
    width: 47.3%;
  }

  .acc_active {
    padding-bottom: 7px;
  }

  .accordion-content {
    flex-wrap: wrap;
  }

  .accordion-title-link {
    font-size: 24px;
    line-height: 32px;
  }

  .accordionjs .acc_section.acc_active > .acc_content {
    width: 100%;
    padding: 30px 0 15px 0;
  }

  .artist-link {
    line-height: 17.2px;
  }

  /* .accordionjs .acc_section {
    margin-top: 0px;
  } */

  .accordionjs .acc_section .acc_head {
    padding-bottom: 40px;
    padding-top: 43.4px;
  }

  .accordion-title::before {
    width: 46px;
    height: 46px;
    top: 50%;
    right: 0px;
  }

  .acc_active::after {
    top: 50px;
  }

  .accordion-item::after {
    right: 18px;
    width: 8px;
    height: 8px;
  }

  .artist-link {
    margin-bottom: 9px;
  }

  .event {
    margin-bottom: 119px;
  }

  .event-swiper {
    max-width: 100%;
  }

  .card-slide {
    height: 100%;
  }

  .event-title {
    margin-bottom: 16px;
  }

  .event-card-image {
    min-height: 200px;
  }

  .event-card-image-icon {
    min-height: 200px;
  }

  .discr-1 {
    margin-bottom: 14px;
  }

  .discr-2 {
    margin-bottom: 14px;
  }

  .discr-3 {
    margin-bottom: 78px;
  }

  .discr-4 {
    margin-bottom: 14px;
  }

  .discr-5 {
    margin-bottom: -17px;
  }

  .event-card-discr {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 32px;
  }

  .event-date-text {
    height: 100%;
    width: 100%;
  }

  .card-date {
    padding-right: 13px;
    text-align: end;
    font-size: 11.6px;
    line-height: 11px;
  }

  .card-date:not(:last-child) {
    padding-top: 9px;
  }

  .card-title {
    padding-top: 7px;
    font-size: 24px;
    line-height: 32px;
  }

  .card-discr {
    width: 95%;
    font-size: 16px;
    line-height: 32px;
    
    word-wrap: normal
}

  .card-more {
    margin-bottom: 47px;
    width: 82px;
    font-size: 15px;
  line-height: 32px;
  border-bottom: 2px solid var(--amethyst);
  }

  .events-pagination {
    position: absolute;
    display: block;
    text-align: center;
    top: 102%;
  }

  .events-pagination {
    display: block;
  }

  .events-btn-prev,
  .events-btn-next {
    display: none;
  }

  .swiper-pagination-bullet-active {
    background: #666666;
  }

  .project {
    margin-bottom: 80px;
  }

  .project-title {
    margin-bottom: 17px;
  }


  .projects-descr {
    font-size: 16px;
    margin-bottom: 21px;
    line-height: 32px;
  }

  .project-partners-title {
    margin-bottom: 21px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }

  .project__slider {
    margin: 0 50px;
  }

  .project__slider-slide {
    height: 128px;
  }

  .slide-img {
    max-height: 42%;
    max-width: 72%;
  }

  .projects-btn-prev, .swiper-rtl .projects-btn-next {
    left: -51px;
  }

  .projects-btn-next, .projects-btn-prev {
    top: 39%;
  }

  .projects-btn-next, .swiper-rtl .projects-btn-prev {
    right: -51px;
  }

  .contact-title {
    margin-top: 43px;
    font-size: 24px;
    line-height: 32px;
  }

  .contact-discr {
    font-size: 16px;
    line-height: 7px;
  }

  .contact-adress {
    margin-bottom: 8px;
  }

  .form-footer {
    height: 100%;
  }

  .footer-form-input {
    margin-right: 19px;
  width: 270px;
  height: 48px;
  font-size: 14px;
  line-height: 32px;
  padding-left: 21px;
  }

  .footer-button-sent {
      padding: 10px 41px;
      font-size: 18px;
      line-height: 25px;
      font-weight: 700;
}


  .footer-form-item {
    height: 100%;
    display: flex;
    margin-bottom: 0;
  }

  .js-validate-error-label {
    top: 7px;
  }

  .contact-icon {
    margin-top: 18px;
  }

  .contact-list-title {
    font-size: 24px;
  }

  .social-svg  {
    width: 40px;
    height: 43px;
  }

  .footer-icon {
    width: 60px;
    height: 60px;
  }

  .social-list:not(:last-child) {
    margin-right: 29px;
  }
}

@media (max-width:1023px) {
    
  .form-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-form-list {
    margin-top: 30px;
  }

  .footer-button-sent {
    padding: 10px 19px;
    font-size: 16px;
  }
}

/* Max-width:1000px */
@media (max-width: 1000px) {
  /* .footer-form-item {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 100px;
  } */

  .artist-link {
    font-size: 14px;
  }
}

/* Max-width:1000px */
@media (max-width:900px) {
  .gallary-content {
    flex-direction: column;
  }

  .gallary-left-info {
    width: 34.2%;
  }

  .gallery__right {
    min-width: 100%;
  }

  .gallary-swiper {
    max-width: 91%;
  }

  .gallary-download {
    margin-bottom: 0;
  }

  .artist-item {
    column-count: 1;
    }

    .artist-link {
      font-size: 14px;
    }

    .accordionjs .acc_section.acc_active > .acc_content {
      height: 100%;
    }

    .event-pagination {
      top: 100%;
    }

    .event-card-image {
      height: 100%;
    }

    .contact__container {
      flex-direction: column;
    }

    .footer-form-item {
      margin-bottom: 35px;
      flex-direction: column;
      align-items: flex-start;
    }

}

@media (max-width:768px) {
  .header__container {
      overflow: visible;
  }

  .header__top {
    padding: 29px 0;
  }

  .bar1 {
    width: 31px;
}

.bar2 {
  width: 24px;
}

.bar3 {
  width: 20px;
}

  .header__logo {
      min-height: 42px;
      width: 294px;
  }
  .logo {
      min-height: 39px;
      max-width: 167px;
  }
  .header__search-btn {
    bottom: -2px;
}
.header__search-top {
    width: 93%;
    max-height: 100px;
    top: 0px;
    left: -34px;
    padding: 30px 20px 36px 54px;
    background-color: var(--black);
    z-index: 45;
}
.header__search-button {
    z-index: 99;
}

.header__find {
  position: absolute;
  left: 3px;
}

.header__form::before {
  z-index: 25;
  content: '';
  position: absolute;
  background: var(--black);
  top: 10px;
  bottom: 0;
  right: 0;
  left: 0;
}

.header__form {
  left: 6%;
  width: 87%;
}

.header__input {
  position: absolute;
  right: 8%;
  height: 27px;
  z-index: 27;
}

.header__search.active::before, .header__search.active::after {
  top: 7px;
}

.burger {
  margin-bottom: 1px;
}
  
  .hero {
    margin-bottom: 81px;
  }

  .hero-content {
    padding: 106px 0 114px;
  }

  .hero-content__heading {
      width: 100%;
      line-height: 69px;
      font-size: 72px;
  }

  .hero-content__desc {
    font-size: 18px;
    line-height: 30px;
      width: 100%;
      margin-bottom: 132px;
      max-width: 700px;
  }

  .hero-content__btn {
    margin-bottom: 0;
    padding: 20px 37px;
    font-size: 18px;
  }

  .hero-content__btn:focus::after {
    min-height: 77px;
  }

  .about {
    margin-bottom: 66px;
  }

  .about-title {
    font-size: 48px;
    margin-bottom: 17px;
  }

  .about-discription {
    line-height: 31.9px;
    font-size: 16px;
    font-weight: 400;
  }

  .gallery {
    margin-bottom: 31px;
  }

  .gallary-left-info {
    width: 42.4%
  }

  .gallary-title {
    padding-top: 89px;
    font-size: 48px;
    line-height: 55px;
  }

  .filter-span {
  font-size: 15px;
    line-height: 40px;
  }

  .gallery__right  {
      max-width: 100%;
      margin-top: 7px;
      margin-bottom: 57px;
  }

  .choices__inner {
    font-size: 15px;
    min-height: 38px;
    padding: 2.5px 4.5px 2.75px;
  }

  .choices[data-type*=select-one]::after {
    height: 5px;
    width: 5px;
    right: 16.7px;
    top: 47%;
  }

  .select {
    margin-top: 3px;
  }

  .gallery__select {
    margin-bottom: 40px;
  }

  .container-cat {
    padding-left: 22px;
    margin-bottom: 2px;
    font-size: 14px;
    line-height: 28px;
  }

  .checkmark {
    left: -1px;
    height: 13px;
    width: 13px;
  }

  .container-cat .checkmark:after {
    left: 3.5px;
    top: 3.7px;
  }

  .gallary-swiper {
    max-width: 100%;
  }

  .slider-button {
    width: 120px;
    margin-top: 41px;
    margin-bottom: 19px;
}

.swiper-pagination {
  font-size: 16px;
    line-height: 0px;
}

.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 22px;
}

    .gallary-content {
      flex-direction: column;
    }

    .gallary-swiper-slide {
      height: 100%;
    }

    .faq {
      padding-top: 50px;
      margin-bottom: 51px;
    }

    .faq-intro {
      margin-bottom: 27px;
    }

    .accordion-title-link {
      font-size: 24px;
      line-height: 47px;
    }

    .accordionjs .acc_section .acc_content {
      padding: 26px 0 0 0;
    }

    .accordionjs .acc_section.acc_active > .acc_content {
      padding-bottom: 11px;
    }

    .artist-link {
      font-weight: 400;
      font-size: 14px;
  }

  .link-title-main {
    line-height: 32px;
  }

    .accordionjs .acc_section .acc_head {
      padding-top: 35px;
      padding-bottom: 34px;
    }


    .artist-item {
      margin-bottom: 33px;
      column-count: 3;
      }

    .tab-content__item {
      width: 100%;
    }

    .faq__content-left-info {
      width: 100%;
    }

    .accordionjs .acc_section.acc_active > .acc_content {
      width: 100%;
      padding: 36px 0 15px 0;
    }

    .tab-content-image {
      width: 100%;
    }

    .artist-unkown-image {
      width: 173px;
      height: 114px;
    }

    /* .acc_active::after {
      top: 11%;
    } */

    .accordionjs .acc_section.acc_active > .acc_content {
      height: 100%;
    }

 
    .faq__contant  {
      flex-direction: column-reverse;
    }

    .accordion-item {
      width: 100%;
    }

    .faq__accordion {
      margin-bottom: 29px;
      width: 100%;
    }

    .tab-content-image-main {
      margin-bottom: 28px;
    }

    .left-info-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }

    .left-info-years {
      font-size: 13px;
    line-height: 17px;
  }

  .left-info-discr {
    font-size: 16px;
    line-height: 32px;
    }

    .event {
      margin-bottom: 121px;
    }

    .event-swiper {
      max-width: 100%;
    }

    .card-slide {
      height: 100%;
    }



    .event-card-discr {
      width: 100%;
      padding-right: 6px;
    }

    .event-card-image {
      height: 100%;
    }

    .event-date-text {margin-top: 16px;
      width: 100%;
    }

    .card-title {
      font-size: 24px;
      padding-top: 7px;
    }

    .event-card-discr {
      padding-left: 34px;
    }

    .card-discr {
      width: 89%;
      font-size: 16px;
      line-height: 30px;
    }

    .discr-1 {
      margin-bottom: 99px;
    }

    .discr-2 {
      margin-bottom: 66px;
    }

    .discr-3 {
      margin-bottom: 99px;
    }

    .discr-4 {
      margin-bottom: 157px;
    }

    .discr-5 {
      margin-bottom: 67px;
    }

    .card-more {
      width: 76.5px;
      font-size: 14px;
    line-height: 22px;
    border-bottom: 1px solid var(--amethyst);
    }

    .card-date:not(:last-child) {
      padding-top: 5px;
      font-weight: 400;
      font-size: 11px;
      line-height: 8px;
    }

    .events-pagination {
      top: 104%;
    }

    .project {
      margin-bottom: 80px;
    }

    .projects-descr {
      font-size: 16px;
      margin-bottom: 28px;
      line-height: 31.7px;
    }

    .project-partners-title {
      font-size: 24px;
      margin-bottom: 27px;
    }

    .project-button-next, .swiper-rtl {
      right: -20px;
    }

    .project-button-prev, .swiper-rtl {
      left: -20px;
    }

    .project-button-next, .project-button-prev {
      top: 28%;
      width: 26px;
      height: 26px;
    }

    .project__slider-slide {
      height: 107px;
    }

    .project__slider {
      margin: 0 52px;
    }

    .slide-img {
   max-width: 80%;
   max-height:50% ;
    }


    .contact-title {
      margin-top: 42px;
      font-size: 24px;
      line-height: 32px;
    }

    .contact-discr {
      font-size: 16px;
      line-height: 7px;
    }

    .contact-adress {
      margin-bottom: 28px;
    }

    .footer-form-input {
      width: 324px;
      height: 49px;
      margin-right: 18px;
    }

    .input-tel {
      margin-right: 0;
    }

    .form-footer {
      height: 100%;
    }

    .footer-form-item {
      margin-bottom: 0;
      height: 100%;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
    }

    .footer-form-list {
      margin-top: 0;
    }

    .footer-form-input-container {
      margin-bottom: 6px;
    }

    .list-label {
      height:100%;
    }

    .footer-button-sent {
      margin-top: 5px;
      padding: 11px 28px;
      font-size: 18px;
    }

    .contact-icon {
      margin-top: 37px;
      margin-bottom: 40px;
    }

    .contact-list-title {
      font-size:  24px;
    }

    .contact-list:not(:last-child) {
      margin-right: 18px;
    }

    .social-svg {
      width: 40px;
      height: 42px;
    }

    .just-validate-error-label {
      position: absolute;
      font-size: 12px;
      line-height: 16px;
      top: -20px;
      padding-left: 18px;
      /* right: 25px; */
  }

  }

  @media (max-width: 720px) {
    .footer-form-input {
      width: 290px;
    }

    .footer-button-sent {
      padding: 11px 14px;
    }
  }

  @media (max-width: 682px) {

    .header__input {
      right: 14%;
      width: 74%;
    }

    .hero-content__heading {
      font-size: 52px;
    }
    
    .artist-item {
      column-count:2 ;
    }

    .footer-form-input {
      width: 231px;
    }

    .footer-form-input {
      width: 231px;
    }

    .footer-button-sent {
      padding:11px 15px;
      font-size: 14px;
    }

    .card-title {
      font-size: 24px;
      line-height: 33px;
    }

    .card-discr {
      width: 100%;
    }

    .contact-adress {
      max-width: 100%;
    }
  
  }

  @media (max-width:550px) {

    .header__logo {
      width: 205px;
    }

    .hero-content {
      padding-top: 50px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .hero-content__heading {
      margin-bottom: 0;
      width: 100%;
      text-align: center;
      line-height: 36px;
      font-size: 42px;
    }

    .hero-content__desc {
      width: 100%;
      text-align: center;
      font-size: 16px;
      line-height: 27px;
    }

    .hero-content__btn:focus-visible::after {
      content: '';
      position: absolute;
      top: -8px;
      left: -8px;
      width: 105%;
      min-height: 82px;
      border: 2px solid var(--light-purple);
      border-radius: 100px;
  }

  .hero-content__btn:hover::after {
    top: -8px;
    left: -8px;
}

  .hero-content__btn {
  padding: 22px 32px;
  font-size: 16px;
  }

    .gallary-left-info {
      width: 75%;
    }

    .artist-link {
      font-size: 11px;
    }

    .artist-item {
      column-count: 2;
      margin-right: 0 ;
      width: 100%;
    }



    

    .form-footer {
      display: flex;
      flex-direction: column;
    }

    .footer-form-item {
      height: 100%;
    }

    .footer-button-sent {
      padding: 9px 24px;
      font-size: 12px;
      margin-top: 0px;
    }

    .footer-form-input {
      margin-bottom: 20px;
    }

    .footer-form-input-container {
      display: flex;
      flex-direction: column;
    }

    .just-validate-error-label {
      position: relative;
    }

    .contact-adress {
      max-width: 100%;
      margin-right: 0;
    }

    .contact-icon {
      margin-top: 20px;
    }
  }

@media (max-width:413px) {

  .header__form {
    left: 3%;
    width: 91%;
  }

  .container {
    padding: 0 15px;
  }


  .main-nav {
   padding-left: 15px;
}

.hero-content__heading {
  font-size: 34px;
}

.gallery__right  {
  max-width: 100%;
}

.artist-item {
  column-count: 1;
  }

  .artist-link {
    font-size: 11px;
  }

  .projects-descr {
    max-width: 100%;
  }
}

@media (max-width: 350px) {
  .hero-title {
    font-size: 31px;
  }

  .hero-discr {
    font-size: 14px;
  }
}

@media (min-width:324px) {
  .footer-button-mobile {
    display: none;
  }
}

@media (max-width:323px) {
  .container {
    /* max-width: 320px; */
    padding-right: 17px;
    padding-left: 13px;
  }
  .header {
    height: 42px;
  }
  .header__top {
    height: 100%;
  }
  .header__logo {
    min-height: 42px;
    width: 141px;
  }

  .logo {
    min-width: 99px;
  }
  
  .burger {
    background-image: url(../img/header/Burger-320.svg);
    width: 23px;
    height: 38px;
  }

  .header__nav {
    padding: 43px 0 50px 30px;
  }

  .header-nav__item:first-child {
    margin-top: 2px;
  }

  .header__nav-link {
    font-size: 16px;
    line-height: 31px;
  }

  .header-nav__item:not(:last-child) {
    margin-bottom: 8px;
  }

  .main-nav {
    padding-left: 13px;
  }
  
  .header__search-button {
    width: 16px;
    height: 16px;
  }
  
  .header__form {
    height: 92px;
    left: 0;
    width: 100%;
    top: -8px;
  }
  
  .header__search.active {
    z-index: 30;
  }
  
  .header__input {
    width: 56%;
    bottom: 19px;
    right: 14px;
    left: 77px;
  }
  
  .header__search.active::before, 
  .header__search.active::after {
    left: 0px;
    width: 18.3px;
    height: 1px;
    top: 4px;
  }
  
  .header__find {
    left: 57px;
    bottom: 7px;
  }
  
  .header__search, .header__find {
    width: 19px;
  }
  
  .logo {
    min-height: 22px;
    max-width: 88px;
  }
  .header-nav__item:last-child {
    margin-left: 0px;
    margin-bottom: -13px;
  }

  .main-nav {
    min-height: auto;
    max-height: 100vh;
  }
  .burger-enter {
    margin-left: 0px;
    min-width: 115px;
    padding: 10px 31px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }
  .main-nav-icon {
    width: 13px;
    height: 10px;
  }
  
  .header__search-button {
    background-image: url(../img/header/search-small.svg);
    background-repeat: no-repeat;
    background-size: 16px;
  }
  
  .header__search {
    min-width: 17px;
  }
  
  .header__search, .header__find {
    height: 40px;
  }
  
  .mobile-search-icon {
    width: 18px;
    height: 18px;
  }
  
  .header__search-icon {
    width: 16px;
    height: 16px;
  }
  
  
  .hero {
    margin-bottom: 43px;
  }
  
  .hero-content {
    padding: 4px 0 45px;
  }
  
  .hero-content__heading {
    padding-top: 32px;
    width: 255px;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
  }
  
  .hero-content__heading::first-line {
    line-height: 32px;
  }
  
  .hero-content__desc {
    width: 251px;
    margin-bottom: 43px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    font-weight: 400;
  }
  
  .hero-content__btn {
    margin-bottom: 0px;
    padding: 10px 16px;
    font-size: 12.5px;
    line-height: 14px;
    text-align: center;
  }
  
  .hero-content__btn:focus-visible::after {
    width: 106%;
    min-height: 46px;
  }
  
  .hero-content__btn:hover::after {
    top: -8px;
    left: -8px;
  }
  
  
  .swiper-container {
    width: 100%;
  }
  
  .swiper-picture {
    height: 335px;
  }
  
  .about {
    margin-bottom: 41px;
  }
  
  .about-title {
  font-size: 28px;
  line-height: 55px;
  margin-bottom: 3px;
  }
  
  .about-discription {
    font-size: 14px;
    line-height: 28px;
    max-width: 100%;
  }
  
  .gallary-title {
    padding-top: 51px;
    font-size: 28px;
    line-height: 38px;
  }
  
  .filter-span {
    font-size: 15px;
    line-height: 37px;
  }
  
  .gallery {
    margin-bottom: 28px;
  }
  
  .gallary-left-info {
    width: 102%;
    margin-bottom: 1px;
  }
  
  .gallary-swiper-slide {
    height: 366px;
  }
  
  .slider-button {
    width: 141px;
    position: relative;
    margin-top: 22px;
    margin-bottom: 32px;
  }

  .swiper-horizontal>.swiper-pagination-bullets, 
  .swiper-pagination-bullets.swiper-pagination-horizontal, 
  .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -15px;
    left: -2px;
  }
  
  .choices__inner  {
    padding: 4.5px 6.5px 1px 3.75px;
    width: 98%;
    min-height: 33px;
  }
  
  .choices[data-type*=select-one] .choices__inner {
    padding-bottom: 4.5px;
  }
  
  .choices[data-type*=select-one]::after {
    height: 5px;
    width: 5px;
    right: 18px;
    top: 42%;
  }
  
  .gallery__select {
    margin-bottom: 28px;
    margin-top: 10px;
  }
  
  .gallery__right {
    margin-top: 0px;
  }
  
  .gallary-swiper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  
  .gallery__right {
    margin-bottom: 47px;
  }
  
  .catalog-discription {
    display: none;
  }
  
  .faq {
    padding-top: 13px;
    margin-bottom: 27px;
  }
  
  .faq-intro {
    margin-bottom: 4px;
  }
  
  .accordionjs .acc_section .acc_head {
    padding-top: 17px;
    padding-bottom: 15px;
  }
  
  .accordionjs .acc_section.acc_active > .acc_content {
    padding: 22px 0 15px 0;
  }
  
  .accordion-item {
    width:100% ;
  }
  
  .accordion-title::before {
    width: 30px;
    height: 30px;
    top: 48%;
    right: 0;
  }
  
  .accordion-item::after {
    top: 36px;
    right: 12px;
    width: 6px;
    height: 6px;
  }
  
  .accordion-item:active::after {
    top: 30px;
  }
  
  .accordionjs .acc_section.acc_active > .acc_content {
    height: 100%;
  }
  
  .acc_active {
    padding-bottom: 0;
  }
  
  .accordionjs .acc_section.acc_active > .acc_content {
    padding-bottom: 0;
  }
  
  .link-title-main {
    font-size: 16.2px;
    line-height: 39px;
  }
  
  .accordionjs .acc_section .acc_content {
    padding: 25px 0 0 0;
  }
  
  .artist-link {
    font-size: 14px;
  }
  
  .artist-item {
    margin-bottom: 15px;
  }
  
  .accordion-title-link {
    font-size: 18px;
    line-height: 41.5px;
  }

  .link-title-main {
    line-height:43.5px ;
  }

  .artist-unkown-image {
    width: 90px;
    height: 130px;
  }

  .artist-unkown-text {
    width: 73%;
  }

  .artist-unkown-title {
    font-size: 18px;
    line-height: 32px;
  }
  
  /* .accordionjs .acc_section {
    margin-top: -2.3px;
  } */
  
  .tab-content__item {
    width: 100%;
  }
  
  .faq__accordion {
    margin-bottom: 30px;
  }
  
  .tab-content-image-main {
    margin-bottom: 13px;
  }
  
  .left-info-title {
    margin-bottom: 6px;
    line-height: 44px;
    font-size: 24px;
  }
  
  .left-info-years {
    font-size: 11.4px;
  }
  
  .left-info-discr {
    font-size: 16px;
    line-height: 31.5px;
  }
  
  
  .accordion-title-link:not(:first-child) {
    line-height: 34px;
    font-size: 15px;
  }
  
  .accordionjs .acc_section.acc_active > .acc_content {
    max-width: 100%;
  }
  
  .accordion-content {
    max-height: inherit;
  }
  
  .tab-content-image {
    width: 242px;
  }
  
  
  .image-unkown {
    width: 80%;
    top: 20%;
  }
  
  
  .event-swiper {
    min-width:100% ;
  }
  
  .event {
    margin-bottom: 84px;
  }
  
  .event-pagination {
    top: 98%;
  }
  
  .event-date-text {
    height: 100%;
  }
  
  .event-card-discr {
    padding-left: 22px;
    padding-right: 4px;
  }
  
  
  .card-date:not(:last-child) {
    padding-top: 10px;
      font-size: 11px;
      line-height: 4px;
      font-weight: 400;
  }
  
  .card-title {
    padding-top: 13px;
    font-size: 24px;
    line-height: 32px;
  }
  
  .card-discr {
    font-size: 14.9px;
    line-height: 26.6px;
    width: 92%;
  }

  .discr-1 {
    margin-bottom: 109px;
  }

  .discr-2 {
    margin-bottom: 72px;
  }

  .discr-3 {
    margin-bottom: 136px;
  }

  .discr-5 {
    margin-bottom: 45px;
  }

  .events-pagination {
    top: 103%;
  }
  
  .card-more {
    width: 86.5px;
    margin-left: 6px;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 50px;
  }
  
  .event-pagination {
    top: 102%;
  }
  
  .swiper-horizontal>.swiper-pagination-bullets 
  .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets 
  .swiper-pagination-bullet {
    margin: 6px;
  }
  
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
  
  .project {
    margin-bottom: 4px;
  }
  
  .project-title {
    margin-bottom: 0;
    line-height: 33px;
  }
  
  .projects-descr {
    line-height: 31.9px;
    margin-bottom: 10px;
  }
  
  .project-partners-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .project__slider-slide {
    /* min-width: 100%; */
    height: 65px;
  } 
  
  .slide-img {
    max-width: 72%;
  }
  
  .projects-btn-next, .projects-btn-prev {
    top: 28%;
  }
  
  
  .contact {
    border-top: none;
  }
  
  .contact-title {
    margin-top: 52px;
    font-size: 18px;
    line-height: 13px;
  }
  
  .contact-adress {
    min-width: 100%;
    margin-bottom: 11px;
  }
  
  .contact-discr {
    font-size: 14px;
    line-height: 0;
  }
  
  .footer-form-input {
    width: 290px;
    height: 39px;
    margin-right: 0;
    margin-bottom: 6px;
  }

  
  .footer__container  {
    flex-direction: column-reverse;
      padding-top: 20px;
  }
  
  .footer-button-mobile {
    display: block;
  }
  
  .footer-button-desktop {
    display: none;
  }
  
  .footer-button-sent {
      padding: 5px 33px;
      font-size: 12px;
      margin-top: -8px;
  }

  .just-validate-error-label {
    top: -6px;
  }
  
  .contact-icon {
    margin-top: 28px;
    margin-bottom: 14px;
  }

  .contact-item {
    margin-top: 13px;
  }

  .contact-list:not(:last-child) {
    margin-right: 20px;
  }
  
  .social-svg {
    width: 50px;
    height: 48px;
  }
  
  .contact-list-title {
    font-size: 17.2px;
  }

  .map {
    height: 320px;
  }

  .ymaps-2-1-79-map {
    height: 320px;
  }
  
  .js-validate-error-label {
    top: -12px;
    font-size: 9px;
  }
  
  .social-list:not(:last-child) {
    margin-right: 30px;
  }
  
  .footer__container {
    padding-top: 6px;
    justify-content: space-evenly;
  }
  
  .footer-logo {
    max-width: 33%;
  }

  .footer-icon {
    width: 50px;
    height: 52px;
  }
  }
