@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpensansBold'),
  url(../fonts/opensans-bold-webfont.woff) format('woff'),
  url(../fonts/opensans-bold-webfont.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpensansSemiBold'),
  url(../fonts/ofont.ru_open_sans-webfont.woff) format('woff'),
  url(../fonts/ofont.ru_open_sans-webfont.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpensansLight'),
  url(../fonts/opensans-light-webfont.woff) format('woff'),
  url(../fonts/opensans-light-webfont.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpensansRegular'),
  url(../fonts/opensans-regular-webfont.woff) format('woff'),
  url(../fonts/opensans-regular-webfont.woff2) format('woff2');
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
}
body {
  margin: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  padding: 0 auto;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

button {
  font-family: inherit;
  outline: none;
}

input {
  outline: none;
}

img {
  max-width: 100%;
}

button {
  padding: 0;
  background: inherit;
  /* background: none; */
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

:root {
  --black: #000;
  --white: #fff;
  --viola: #C283F3;
  --amethyst: #9D5CD0;
  --light-purple: #D1A9F0;
  --purple: #7943A4;
  --signal-black: #333333;
  --agate-grey: #CACACA;
  --smoky-white: #ECECEC;
  --sandy-yellow: #CCB26E;
  --gray: #999999;
  --light-smoky-white: #EAEAEA;
  --dull-gray: #666666;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1700px;
}


/* .header__top {
  width: 1500px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.header__top {
  position: relative;
}

.header-item {
  display: flex;
}

.header-list:not(:last-child) {
  margin-right: 62px;
}

.header-link,
.header__login--button {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
}

/* .link-style:hover,
.link-style:active {
  color: var(--viola);
  transition: all .3s ease-in-out;
}

.link-style:active {
  color: var(--viola);
  transition: all .3s ease-in-out;
} */



/* .link-style:focus {
  outline: none   ;
  color: var(--white);
  background: var(--purple);
  transition: all .3s ease-in-out;
} */

.header__nav-btn {
  font-size: 18px;
  line-height: 25px;
  display: block;
  background-color: transparent;
  border: 0;
  color: var(--white);
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition-property: background-color, border;
  transition: .2s ease-in-out;
  font-weight: 600;
}

.header__nav-btn:focus-visible:before,
.outline-focus:focus-visible:before {
  opacity: 1;
  background-color: var(--purple);
  outline: none;
  border: transparent;
}
.header__nav-btn:hover {
  color: var(--amethyst);
}
.header__nav-btn:active:not(:focus-visible) {
  color: var(--purple);
}

.header__nav-btn:hover {
  color: var(--viola);
}

.header__nav-btn:before, .outline-focus:before {
  content: "";
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -11px;
  background-color: var(--viola);
  border: 3px solid transparent;
  z-index: -1;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}

.header__nav-link:before, .outline-focus:before {
  content: "";
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -11px;
  background-color: var(--viola);
  border: 3px solid transparent;
  z-index: -1;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}

.header__nav-link:focus-visible:before,
.outline-focus:focus-visible:before {
  opacity: 1;
  background-color: var(--purple);
  outline: none;
  border: transparent;
}
.header__nav-link:hover {
  color: var(--amethyst);
}
.header__nav-link:active:not(:focus-visible) {
  color: var(--purple);
}



.header__login--icon {
  position: absolute;
  top: 10px;
  left: 2px;
}

/* Header-bottom */

.header__bottom {
  z-index: 5;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
}

.header__bottom-container {
  margin: 0 auto;
  /* max-width: 1614px; */
}

.header__bottom-item  {
  height: 70px;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__bottom-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__bottom-dropdown {
  margin-right:  auto;
}

.active-header__bottom-list {
  display: block;
}

.header__bottom-button {
  position: relative;
  background: inherit;
  border: inherit;
  font-weight:400 ;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--white);
}

.header__bottom-item-btn:before {
  content: "";
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -23px;
  background-color: var(--viola);
  z-index: -1;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}

.header__bottom-item-btn:before .active--btn .header__bottom-arrow:focus path {
  stroke: var(--white);
}

.dropdown-button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 102%;
  height: 109%;
  background-color: rgba(0, 0, 0, 0);
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: outline-offset .3s ease-in-out, bacground-color .3s ease-in-out, outline .3s ease-in-out;
  content: '';
  z-index: -4;
}

.dropdown-button:hover::after {
  outline: 2px solid var(--amethyst);
}

.dropdown-button:active::after {
  background-color: rgba(194, 131, 243, 0.4);
  outline: 2px solid var(--light-purple);
}

.dropdown-button.focus-visible::after {
  background-color: transparent;
  outline: 2px solid var(--amethyst);
}

.dropdown-button:before, .focus-outline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: -3px;
  left: 0px;
  right: -5px;
  background-color: transparent;
  border: 3px solid transparent;
  z-index: -1;
  opacity: 0;
  transition: opacity .4s ease-in-out;  
}

.dropdown-button:focus-visible:before, .focus-outline:focus-visible:before {
  opacity: 1;
  background-color: transparent;
  border: 3px solid var(--viola);
}





/* .header__bottom-button.acti:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #fff;
  bottom: 0;
  left: 0;
  
  animation: anim 2s infinite ease-in-out;
}

@keyframes anim {
  0% {
    transform: scaleX(0)  translateX(-50%);
    opacity: 0;
  }
  50% {
    transform: scaleX(1) translateX(0%);
    opacity: 1;
  }
  100% {
    transform: scaleX(0) translateX(50%);
    opacity: 0;
  }
} */

.span--icon {
  position: absolute;
  top: 7px;
}

.search,
.search-mobile {
  background: transparent;
}

.search {
  height: 71px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.search-btn {
  margin-top: 7px;
}

.search-button {
  border: none;
  background: inherit;
  border: none;
  width: 20px;
}

.search__input {
  margin-top: 6px;
  margin-left: 5px;
  margin-right: 5px;
}

.search__input,
.search-mobile__input {
  background: transparent;
  border: none;
  border-bottom: solid 1px var(--white);
  outline: none;
  width: 218px;
  -webkit-transition: border .3s ease-in-out;
  transition: border .3s ease-in-out;
  color: var(--white);
  font-size: 18px;
  caret-color: var(--light-purple);
}

.search__input::-webkit-search-cancel-button,
.search-mobile__input::-webkit-search-cancel-button {
  display: none;
}

.search:hover .search__input {
  border-bottom: solid 1px var(--viola);
}

.search:focus-within .search__input {
  border-bottom: solid 1px var(--viola);
}


input[type="search"]::-moz-placeholder {color: rgba(255, 255, 255, 0.85);}
input[type="search"]::-webkit-input-placeholder {color:rgba(255, 255, 255, 0.85);}
input[type="search"]:-ms-input-placeholder {color:rgba(255, 255, 255, 0.85);}
input[type="search"]::-ms-input-placeholder {color: rgba(255, 255, 255, 0.85);}
input[type="search"]::placeholder {color: rgba(255, 255, 255, 0.85);}

input::-webkit-input-placeholder       {opacity: 1; -webkit-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; -moz-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; -moz-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; -ms-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; -webkit-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; -moz-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; -moz-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; -ms-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}




.header__bottom-list {
  display: flex;
  justify-content: space-between;
}

.container__dropdown {
  padding-right: 19px;
  padding-left: 40px;
  padding-top: 40px;

}

.container__dropdown-list {
  max-height: 220px;
}

.header__bottom-item-btn{
  margin-right: 40px;
  background-color: inherit;
  border: none;
  /* padding: 5px 19px; */
  cursor: pointer;
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  transition-property: background-color;
  transition: .3s ease-in-out;
}

.header__bottom-item-btn {
  position: relative;
}

.header__bottom-arrow {
  position: absolute;
  top: 10px;
  right: -16px;
}

.header__bottom-item-btn:hover .header__bottom-arrow path {
  cursor: pointer;
  stroke: var(--amethyst);
  fill: none;
}

.header__bottom-item-btn .header__bottom-arrow path {
  transition: stroke .3s ease-in-out;
}


.header__bottom-arrow:active path {
  transform: scaleX(0);
}

.active--btn .header__bottom-arrow  {
  transform: rotate(180deg);
  transition: transform .3s ease-in-out;
} 


/* .header__bottom-item-btn:active {
  background: inherit;
  color: var(--purple);
} */
/* 
.container__dropdown-item:hover,
.container__dropdown-item:focus {
  cursor: pointer;
  outline: none;
  border: 2px solid #9D5CD0;
  transition: border .3s ease-in-out;
 }  */



.dropdown-button {
  color: var(--white);
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}


/* .container__dropdown-item:active {
  cursor: pointer;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(.jpg);
  border: 2px solid #D1A9F0;
  transition-property: bacground, border;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
} */


.header__bottom-item {
  position: relative;
}

.header__bottom-item:not(:last-child) {
  margin-right: 72px;
}

.last-list {
  margin-right: auto;
}



.container__dropdown {
  width: 300px;
  max-height: 300px;
  padding-bottom: 40px;
  display: none;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  position: absolute;
  top: 100%;
  transition: display 0.9s ease-in-out;
}

.drop--list {
    margin: 0 auto;
    width: 240px;
    max-height: 220px;
    overflow: auto;
  }

  .container__dropdown-item {
    border: 3px solid transparent;
  }


.container__dropdown-item:not(:last-child) {
  width: 220px;
  padding: 10px;
  height: 40px;
  margin-bottom: 20px;
}

.container__dropdown-item:last-child {
  width: 220px;
  padding: 10px;
  height: 40px;
}
/* .container__dropdown-item:last-child {
  border: 0;
} */

.active-header__bottom-item {
  display: block;
}
.list--item__btn.active--btn:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--white);
  bottom: 0;
  left: 0;
  
  animation: anim 2s infinite ease-in-out;
}



@keyframes anim {
  0% {
    transform: scaleX(0)  translateX(-50%);
    opacity: 0;
  }
  50% {
    transform: scaleX(1) translateX(0%);
    opacity: 1;
  }
  100% {
    transform: scaleX(0) translateX(50%);
    opacity: 0;
  }
}

.simplebar-track.simplebar-vertical {
  background-color: var(--black);
  width: 2px;
  bottom: 10px;
}

/* .simplebar-content-wrapper {
  padding-right: 15px;
} */

.simplebar-scrollbar::before {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background-color: var(--white);
  border-radius: 0;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  top: 0;
  bottom: 0;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

.tintiretto {
  background-image: url(../img/header/header-bottom/dropdown-1-2.png);
  background-repeat: no-repeat;
}

.fridrich {
  background-image: url(../img/header/header-bottom/dropdown-1-1.png);
  background-repeat: no-repeat;
}

.leonardo{
  background-image: url(../img/header/header-bottom/dropdown-1-3.png);
  background-repeat: no-repeat;
}

.verrokio {
  background-image: url(../img/header/header-bottom/dropdown-1-4.png);
  background-repeat: no-repeat;
}

.fridrich-1{
  background-image: url(../img/header/header-bottom/dropdown-1-3.png);
  background-repeat: no-repeat;
}

.tintirett0-1 {
  background-image: url(../img/header/header-bottom/dropdown-1-4.png);
  background-repeat: no-repeat;
}

.mone {
  background-image: url(../img/header/header-bottom/drop-2-1.png);
  background-repeat: no-repeat;
}

.sisley {
  background-image: url(../img/header/header-bottom/drop-2-2.png);
  background-repeat: no-repeat;
}

.mane {
  background-image: url(../img/header/header-bottom/drop-2-3.png);
  background-repeat: no-repeat;
}

.renuar {
  background-image: url(../img/header/header-bottom/drop-2-4.png);
  background-repeat: no-repeat;
}

.sisley-1 {
  background-image: url(../img/header/header-bottom/drop-2-1.png);
  background-repeat: no-repeat;
}

.mane-1{
  background-image: url(../img/header/header-bottom/drop-2-2.png);
  background-repeat: no-repeat;
}

.van-gogh {
  background-image: url(../img/header/header-bottom/drop-3-1.png);
  background-repeat: no-repeat;
}

.sezan {
  background-image: url(../img/header/header-bottom/drop-3-2.png);
  background-repeat: no-repeat;
}

.gogen {
  background-image: url(../img/header/header-bottom/drop-3-3.png);
  background-repeat: no-repeat;
}

.siera {
  background-image: url(../img/header/header-bottom/drop-3-4.png);
  background-repeat: no-repeat;
}

.van-gogh-1 {
  background-image: url(../img/header/header-bottom/drop-3-1.png);
  background-repeat: no-repeat;
}

.gogen-1 {
  background-image: url(../img/header/header-bottom/drop-3-2.png);
  background-repeat: no-repeat;
}

.kandinskiy {
  background-image: url(../img/header/header-bottom/drop-4-1.png);
  background-repeat: no-repeat;
}

.marinetty {
  background-image: url(../img/header/header-bottom/drop-4-2.png);
  background-repeat: no-repeat;
}

.malevich {
  background-image: url(../img/header/header-bottom/drop-4-3.png);
  background-repeat: no-repeat;
}

.pikasso {
  background-image: url(../img/header/header-bottom/drop-4-4.png);
  background-repeat: no-repeat;
}

.marinetty-1 {
  background-image: url(../img/header/header-bottom/drop-4-1.png);
  background-repeat: no-repeat;
}

.malevich-1 {
  background-image: url(../img/header/header-bottom/drop-4-2.png);
  background-repeat: no-repeat;
}

.karra {
  background-image: url(../img/header/header-bottom/drop-5-1.png);
  background-repeat: no-repeat;
}

.pratella {
  background-image: url(../img/header/header-bottom/drop-5-2.png);
  background-repeat: no-repeat;
}

.severiny {
  background-image: url(../img/header/header-bottom/drop-5-3.png);
  background-repeat: no-repeat;
}

.verrokio-2 {
  background-image: url(../img/header/header-bottom/drop-5-4.png);
  background-repeat: no-repeat;
}

.balla {
  background-image: url(../img/header/header-bottom/drop-5-1.png);
  background-repeat: no-repeat;
}

.pratella-1 {
  background-image: url(../img/header/header-bottom/drop-5-2.png);
  background-repeat: no-repeat;
}


/* Hero */

.hero {
  margin-bottom: 89px;
}


.hero__discription {
 position: absolute;
  z-index: 10;

}

.swiper-container {
  position: relative;
  z-index: 1;
}

.hero-title {
  width: 597px;
  font-weight: bold;
  font-size: 72px;
  line-height: 80px;
  color: var(--white);
}

.hero-discr {
  width: 597px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 96px;
  color: var(--white);
}

.hero__button {
  border: 2px solid var(--purple);
  margin-bottom: 2px;
  padding: 22px 39px;
  background: var(--purple);
  border-radius: 100px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
}

.button {
  background-color: transparent;
  color: #fff;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition-property: background-color, border;
  transition-duration: .2s ;
  transition-timing-function: ease-in-out ;
}
/* 
.outline-focus:before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  background-color: var(--viola);
  border: 3px solid transparent;
  z-index: -5;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}
.outline-focus:before {
  background-color: transparent;
  border: 2px solid transparent;
  
}
 .outline-focus {
  background-color: var(--purple);
  border: 3px solid ;
}

.outline-focus:focus-visible:before {
  opacity: 1;
  border: 1px solid var(--white);
  outline: 3px solid var(--viola);
  border-radius: 100px;
}

.outline-focus:hover:not(:focus-visible) {
  border: 3px solid var(--light-purple);
}
.outline-focus:active:not(:focus-visible)::before,
.outline-focus.button-active:active::before {
  background-color: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  border:  3px solid var(--amethyst);

}  */


/* 
.outline-focus:before {
  background-color: transparent;
  border: 3px solid var(--light-purple);
}
.outline-focus {
  background-color: var(--amethyst);
  border: 3px solid var(--amethyst);
}

.outline-focus:hover:not(:focus-visible) {
  background-color: var(--amethyst);
  border: 3px solid var(--light-purple);
}
.outline-focus:active:not(:focus-visible),
.outline-focus.btn-active:active {
  background-color:var(--purple);
  border: 3px solid var(--light-purple);
}

.outline-focus.btn-active:active {
  background-color:var(--purple);
  border: 3px solid var(--light-purple);
  outline: var(--light-purple);
} */


/* .hero-swiper {
  z-index: -2;
  position: relative;
  
}

.swiper-slide {
  background-size: cover;
  width: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-picture {
  height: 660px;
  width: 100%;
  object-fit: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  
} */

.hero {
  width: 100%;
  /* background-image: url(../img/hero/swiper-3.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  
}

.hero__discription {
  padding-top: 144px;
}

.hero__button {
  margin-bottom: 2px;
}


/* About */

.about {
  margin-bottom: 68px;
}

.about-title {
  margin-bottom: 22px;
  font-weight: normal;
  font-size: 48px;
  line-height: 51px;
  color: var(--signal-black);
}

.about-discription {
  max-width: 1080px;
  margin-top: 23px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--signal-black);
}

/* Gallary */

  /* Gallary */

  

  .gallery {
    margin-bottom: 30px;
    background-image: url(../img/gallary/galery-back.png);
  }

  /* .gallery__container {
    max-width: 1585px;
  } */

  .gallary-left-info {
    width:25% ;
  }

  .gallary-title {
    padding-top: 64px;
    font-size: 48px;
    font-weight: normal;
    line-height: 100px;
    color: var(--white);
}

  .gallery__select {
    margin-bottom: 177px;
  }

  .filter-span {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color:var(--white);
  }


  .select {
    /* width: 400px; */
    height: 40px;
    position: relative;
    margin-top: 6px;
  }
  .select.is-active .select__body {
    display: block;}
  
  /* .select__header {
    height: 40px;
    border: 1px solid var(--white);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
  } */
  /* .select__current {
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    padding: 8px;
  } */
  /* .select__icon {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    height: 40px;
    margin-left: auto;
    text-align: center;
    width: 40px;
  } */

  .hero {
    position: relative;
}

.hero-swiper {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-swiper__slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-hero-slide-1 {
    background-image: url("../img/hero/swiper-1.jpg");
}

.bg-hero-slide-2 {
    background-image: url("../img/hero/swiper-2.jpg");
}

.bg-hero-slide-3 {
    background-image: url("../img/hero/swiper-3.jpg");
}

.hero-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 134px 0 119px;
    pointer-events: none;
    z-index: 1;
}

.hero-content__heading {
    margin-bottom: 12px;
    max-width: 597px;
    font-size: 72px;
    line-height: 68px;
    color: var(--white);
}

.hero-content__heading::first-line {
  line-height: 98px;
}

.hero-content__desc {
    margin-bottom: 92px;
    max-width: 579px;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: var(--white);
}

.hero-content__btn {
    margin-top: auto;
    padding: 20px 37px;
    background: var(--viola);
    pointer-events: auto;
    outline-color: transparent;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

  .choices[data-type*=select-one]::after {
    content: '';
    height: 7px;
    width: 7px;
    border: 1px solid var(--white);
    border-color: var(--white) transparent transparent var(--white);
    position: absolute;
    right: 14.7px;
    top: 49%;
    z-index: 25;
    transform: rotate(223deg);
    transition: transform .3s ease-in-out;
    pointer-events: none;
}


.choices[data-type*=select-one].is-open::after {
  border-color: var(--white) transparent transparent var(--white);
  /* border: 1px solid var(--white); */
  top: 52%;
  margin-top: 0;
  transform: rotate(45deg);
  transition: transform .3s ease-in-out;
}

.choices[data-type*=select-one] {
  background-color: transparent;
  transition: bacground-color .3s ease-in-out;
}

.choices__inner {
  background-color: inherit;
  color: var(--white);
  border-radius: 6px;
  min-height: 40px;
  font-size: 16px;
}

.choices__list--single {
  padding: 4px 16px 4px 9px;
}

.choices__list .is-selected {
  display: none;
}

.choices__inner:hover {
  background: rgba(255, 255, 255, 0.2);
  transition: background .3s ease-in-out;
}

.choices:focus-visible {
  background:rgba(255, 255, 255, 0.2) ;
  transition: background .3s ease-in-out;
}

.choices__list--dropdown .choices__item:hover {
  background: rgba(255, 255, 255, 0.2);
  transition: background .3s ease-in-out;
}

.choices__list--dropdown .choices__item:focus-visible {
  background: rgba(255, 255, 255, 0.2);
  transition: background .3s ease-in-out;
}

.choices__list--dropdown .choices__item {
  color: var(--white);
}

.choices__list--dropdown {
  background-color: rgba(255, 255, 255, 0);
  border-radius:6px ;
}

.choices__list--dropdown .choices__item--selectable:after {
  content: '';
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: rgba(255, 255, 255, 0.2);
}

.choices__list--dropdown.is-active {
  animation-name:choiceDropDown ;
  animation-duration: .5s;
}

@keyframes choiceDropDown {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

  
  .select__body {
    border: 1px solid var(--white);
    border-radius: 6px;
    border-top: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
  }
  .select__item {
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    padding: 8px;
  }
  
  .select__item:hover {
    background-color: #f2f2f2;
  }

  .gallary__download-discr {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: var(--white);
  }

  .select__item:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  .select__header:hover,
  .select__header:focus {
    background: rgba(255, 255, 255, 0.2);
  }

  .select__header:active {
    background: rgba(255, 255, 255, 0.2);
  }

  .gallery__right {
    margin-top: 105px;
    width: 72%;
    margin-bottom: 80px;
  }

  /* .gallary-swiper {
    max-width: 88%;
} */

  .gallary-content {
    display: flex;
    justify-content: space-between;
  }

  .gallary-swiper {
    position: relative;
  }

  .gallary-swiper-wraper {
    min-height: 315px;
  }

  /* .slider-button {
    position: static;
  } */

  .gallary-swiper-slide {
    height: 350px;
    border: none;
    transition: border .3s ease-in-out;
  }

  .slider-button {
    display: flex;
    width: 130px;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 37px;
    margin-bottom: 18px;
    margin-left: 6px;
  }

   .swiper-pagination {
    color: white;
    font-size: 16px;
    line-height: 6px;
    text-align: center;
    position: relative;
  }

  .swiper-horizontal>.swiper-pagination-bullets, 
  .swiper-pagination-bullets.swiper-pagination-horizontal, 
  .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 23px;
  }

  .swiper-button-disabled {
    opacity: .35;
    cursor:auto;
    pointer-events: none;
  }

  .gallary-slide-image {
    height: 100%; 
    width: 100%;
  }

  .gallary-download {
    margin-bottom: 80px;
  }

  .gallery__swiper {
    margin-left: 0;
    padding-top: 85px;
    width: 100%;
    max-width: 1150px;
    height: 350px;
  }
  
  .gallery__swiper>.swiper-pagination-fraction {
    top: 25px;
    left: 51px;
    bottom: auto;
    width: 45px;
    text-align: left;
    color: var(--white);
  }
  
  .gallery__slide:focus {
    outline: none;
  }
  
  .gallery__slide::before, .gallery__slide::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: 2px solid transparent;
    outline-offset: -2px;
    transition: outline .3s ease-in-out, background-color .3s ease-in-out;
    content: "";
  }
  
  .gallery__slide::before {
    top: 7.5%;
    left: 7.5%;
    width: 85%;
    height: 85%;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../img/gallary/scale.svg');
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    z-index: 2;
  }
  
  .gallery__slide.focus-visible::after {
    outline: 2px solid var(--viola);
  }
  
  @media (any-hover: hover) {
    .gallery__slide:hover::before {
      opacity: 1;
    }
  }
  
  .gallery__slide:active::after {
    background-color: rgba(194, 131, 243, 0.4);
    outline: 2px solid var(--viola);
  }
  
  .gallery-btn-next, .gallery-btn-prev {
    top: 0px;
    margin-top: 0;
    width: 30px;
    height: 30px;
    color: var(--white);
    background-color: var(--dull-gray);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    z-index: 2;
  }
  
  .gallery-btn-next:focus-visible, .gallery-btn-prev:focus-visible {
    outline: none;
  }
  
  .gallery-btn-next::before, .gallery-btn-prev::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    background-color: transparent;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    transition: border-color .3s ease-in-out, background-color .3s ease-in-out, border .3s ease-in-out;
    content: "";
    box-sizing: border-box;
    z-index: -1;
  }
  
  .gallery-btn-next:focus-visible::before, .gallery-btn-prev:focus-visible::before {
    border: 2px solid var(--black);
  }
  
  @media (any-hover: hover) {
    .gallery-btn-next:hover::before, .gallery-btn-prev:hover::before {
      background-color: var(--amethyst);
      border-color: var(--amethyst);
    }
  }
  
  .gallery-btn-next:active::before, .gallery-btn-prev:active::before {
    background-color: var(--amethyst);
    border-color: var(--white);
  }
  
  .gallery-btn-next, .swiper-rtl .gallery-btn-prev {
    left: 103px;
    right: 0;
  }
  
  .gallery-btn-prev, .swiper-rtl .gallery-btn-next {
    left: 3px;
  }
  
  .gallery-btn-next::after, .gallery-btn-prev::after {
    position: absolute;
    top: 10px;
    left: 14px;
    font-size: 10px;
  }
  
  .gallery-btn-prev::after {
    left: 11px;
  }
  
  .gallery-btn-next.swiper-button-disabled, .gallery-btn-prev.swiper-button-disabled {
    opacity: 0.5;
  }




  /* .container-cat {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 25px;
    margin-bottom: 9px;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    line-height: 22px;
    color: var(--white);
  }
  
  .container-cat input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 4;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: inherit;
    border: 1px solid var(--gray);
  }
  
  .container-cat:hover input ~ .checkmark {
    border: 1px solid var(--viola);
  }

  .container-cat:active input ~ .checkmark {
    border: 1px solid var(--purple);
  }

  .container-cat:focus-visible input ~ .checkmark {
    border: 1px solid var(--purple)
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container-cat:hover {
    color: var(--viola);
  }

  .container-cat:active {
    color: var(--purple);
  }
  
  .container-cat input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container-cat .checkmark:after {
    left: 3px;
    top: 3px;
    width: 0px;
    height: 0px;
    border: 1px solid var(--viola);
    border-radius: 100%;
    border-width: 2px 2px 2px 2px;
    right: 0px;
    bottom: 1px;
  }


  .border {
    width: 176px;
    background-color: inherit;
    border-radius: 15px;
   }

  .border__title {
    padding-top: 21px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  } */

  .gallery__check-label {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    align-items: center;
    outline: transparent;
    color: var(--white);
    cursor: pointer;
    transition: color .3s ease-in-out, border .3s ease-in-out;
  }

  /* .gallery__check-label:focus {
    color: #7943A4;
  } */
  
  .gallery__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  
  .gallery__span {
    margin-right: 12px;
    width: 12px;
    height: 12px;
    border: 1px solid var(--white);
    box-sizing: border-box;
    transition: border .3s ease-in-out;
  }
/*   
  .gallery__checkbox.focus-visible  {
    color: var(--light-purple);
  }
  
  .gallery__checkbox.focus-visible  {
    border: 1px solid var(--light-purple);
    outline: none;
  } */
  
  @media (any-hover: hover) {
    .gallery__checkbox:hover + .gallery__check-label {
      color: var(--light-purple);
    }
  
    .gallery__checkbox:hover + .gallery__check-label .gallery__span {
      border: 1px solid var(--light-purple);
    }
  }

  .gallery__checkbox:focus + .gallery__check-label {
    color: var(--purple);
  }

  .gallery__checkbox:focus + .gallery__check-label .gallery__span {
    border: 1px solid var(--purple);
  }
  
  .gallery__checkbox:checked + .gallery__check-label {
    color: var(--light-purple);
  }
  
  .gallery__checkbox:checked + .gallery__check-label .gallery__span {
    background-image: url('../img/gallary/Ellipse\ 27.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid var(--light-purple);
  }
  
  /* Catalog */

  .catalog-discription {
    max-width: 1080px;
    font-size: 16px;
    line-height: 32px;
  }

  .catalog-title {
    font-size: 48px;
    line-height: 51px;
  }

  .faq {
    margin: 0 auto;
    padding-top: 58px;
    margin-bottom: 69px;
  }
  .overflow {
    overflow: auto;
  }




  
  .faq__title {
    padding-bottom: 44px;
  }

  .faq-intro {
    margin-bottom: 39px;
  }

 .faq__contant {
   display: flex;
   justify-content: space-between;
 }

 .faq__content-left-info {
   width: 48%;
 }

 .tab-content-image-main {
   margin-bottom: 28px;
 }

 /* .tab-content-image {
   background-image: url(../img/catalog/unknown.png);
   background-repeat: no-repeat;
   background-position: center;
 } */

 .left-info-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: var(--signal-black);
 }

 .left-info-years {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: var(--gray);
 }

 .left-info-discr {
   max-width: 749px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--signal-black);
 }

 .tab-content-image {
  margin-bottom: 30px;
   width: 100%;
   /* background: var(--smoky-white); */
 }

 .left-info-link {
  margin-left: -4px;
    margin-right: auto;
    padding: 4px 4px 8px 4px;
    font-size: 16px;
    line-height: 1;
    color: var(--purple);
    background-image: linear-gradient(var(--viola), var(--viola));
    background-position: 4px 90%;
    background-repeat: no-repeat;
    background-size: 0 1px;
    transition-property: color, background-size, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-out;
 }

 .left-info-link:hover,
 .artist-unkown-link:hover {
    color: var(--viola);
    background-size: calc(100% - 8px) 1px;
 }

 .left-info-link:active,
 .artist-unkown-link:active {
  color: var(--purple);
  background-size: calc(100% - 8px) 1px;
}

.left-info-link:focus:not(:hover),
.artist-unkown-link:focus:not(:hover) {
  color: var(--white);
  background: var(--purple);
 /* background-size: 100% 1px; */
}

.artist-unkown-link {
  font-weight: 600;
font-size: 16px;
line-height: 22px;
  padding: 4px 4px 8px 4px;
    line-height: 1;
  background-image: linear-gradient(var(--viola), var(--viola));
    background-position: 4px 90%;
    background-repeat: no-repeat;
    background-size: 0 1px;
    transition-property: color, background-size, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

.accordionjs .acc_section.acc_active > .acc_head {
  background: transparent;
}




.tab-pane.active{
  display: block;
}

.tab-pane{
  display: none;
  
}
 .faq__accordion {
   width: 50%;
 }

 .acc_active {
   padding-bottom: 44px;
 }

 .accordionjs .acc_section.acc_active > .acc_content  {
   width: 92%;
   padding-bottom: 12px;
   /* display: flex;
   justify-content: space-between; */
 }

 .accordionjs .acc_section {
   margin-top: 0px;
 }

 .artist-item {
 column-count: 3;
 }

 .artist-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--black);
 }



 

 .artist-link {
   border: none;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 3px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: var(--black);
  background-image: linear-gradient(var(--viola), var(--viola));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 1px;
  transition-property: color, background-size, background-color;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}

 .artist-link:hover {
   color: var(--viola);
  background-size: 100% 1px;
 }

 .artist-link:active {
  color: var(--white);
 background-size: 100% 1px;
}

.artist-link:focus:not(:hover) {
  color: var(--white);
  background: var(--amethyst);
 /* background-size: 100% 1px; */
}

.artist-active {
  color: var(--purple);
}

 /* .nav-tab::before {
  content: "";
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  background-color: var(--viola);
  color: var(--white);
  z-index: -1;
  opacity: 0;
  transition-property: opacity, background-color, color, border-bottom;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
 }

 .nav-tab:focus-visible:before  {
   color: #fff;
   background: var(--amethyst);
    opacity: 1;
}
.nav-tab:hover:not(:focus-visible) {
  color: var(--viola);
  border-bottom: 1px solid var(--viola);
}
.nav-tab:active:not(:focus-visible) {
  color: var(--purple);
} */

 .accordion-title-link {
   border: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 47px;
  color: var(--black);
  transition-property: color, background;
  transition-duration: .3s;
  transition-timing-function: ease-in;
 }

 .accordionjs {
   margin-top: 0;
 }

 .accordion-title {
  position: relative;
 }

 .accordion-title-link:before {
  content: "";
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -11px;
  /* background-color: var(--viola); */
  border: 3px solid transparent;
  z-index: -1;
  opacity: 0;
  transition-property: background, color, opacity;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

 .accordion-title-link:focus-visible:before, .outline-focus:focus-visible:before { 
  opacity: 1;
  background-color: transparent;
  outline: none;
  border: transparent;
}
 .accordion-title-link:before, .outline-focus:before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  /* background-color: var(--viola); */
  border: 3px solid transparent;
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  transition: opacity .4s ease-in-out;
} 

 .accordion-title-icon {
  position: absolute;
 }

 .accordionjs .acc_section {
   border-right: none;
   border-left: none;
   border-top: .5px solid  var(--agate-grey);
   border-bottom: .5px solid  var(--agate-grey);
 }

 .accordionjs .acc_section:first-child {
   border-top: 1px solid var(--agate-grey);
 }

 .accordionjs .acc_section:hover {
   border-top-color:  var(--viola);
   border-bottom: .5px solid var(--viola);
 }

 .accordionjs .acc_section:active {
  border-top-color:  var(--purple);
  border-bottom: .5px solid var(--purple);
}

 .accordionjs .acc_section .acc_head {
  padding-top: 32.5px;
  padding-bottom: 33px;
  padding-left: 0;
 }



 .acc_active {
   padding-bottom: 45px;
 }

 /* .accordionjs .acc_section:hover {
  border-top-color:  var(--agate-grey);
  border-bottom-color:  var(--agate-grey);
 } */

 .accordionjs .acc_section .acc_content {
   padding: 26px 0 0 0;
 }

 .accordionjs .acc_section:hover .accordion-title:hover::before {
  cursor: pointer;
  /* border-top: 1px solid  var(--amethyst);
  border-bottom: 1px solid  var(--amethyst); */
  background: var(--viola);
 }

 .accordionjs .acc_section:active .accordion-title:active::before {
  cursor: pointer;
  /* border-top: 1px solid  var(--purple);
  border-bottom: 1px solid  var(--purple); */
  background: var(--purple);
 }

 .accordionjs .acc_section:focus-visible .accordion-title:focus-visible::before {
  cursor: pointer;
  /* border-top: 1px solid  var(--amethyst);
  border-bottom: 1px solid  var(--amethyst); */
  background: var(--amethyst);
 }

  .accordion-title-link:hover {
   color: var(--amethyst);
 }

 .accordion-title-link:focus-visible {
  color: var(--white);
  background: var(--amethyst);
  transition: all .3s ease-in-out;
}

.accordion-title-link:active {
  color: var(--purple);
}

/* .accordionjs .acc_section{
  border-bottom: none;
} */

 .accordion-item {
   position: relative;
 }

 .accordion-title::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 51%;
  right: 0;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color:#f2f2f2;
  transition-property: backgroun-color, border;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
 }

 .accordionjs .acc_section:hover .accordion-title-link {
   color: var(--viola);
   border-color: var(--viola);
 }

 .accordion-item::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 18px;
  width: 12px;
  height: 12px;
  border-bottom: 1px solid var(--black);
  border-right: 1px solid var(--black);
  transform: translateY(-50%) rotate(45deg);
  transition: transform 0.3s ease-in-out;;
 }

 

  .accordion-item:active::after  {
  transform:translateY(-50%) scaleX(225deg);
  top: 55px;
}


.active--btn .header__bottom-arrow  {
  transform: rotate(180deg);
  transition: transform .3s ease-in-out;
} 

.event-button-next.swiper-button-disabled, .event-button-prev.swiper-button-disabled {
  opacity: 0;
}

 .acc_active::before {
  top: 46px;
  border: 1px solid var(--amethyst);
  background-color: var(--light-purple);
  z-index: 10;
}

.acc_active::after {
  top: 55px;
  z-index: 10;
  transform: rotate(225deg);
}

.accordion-item::before:hover {
  background-color: var(--viola);
}

.accordion-item::before:active {
  background-color: var(--purple);
}

.artist-unkown-list-discr {
  display: flex;
  position: relative;
  align-items: center;
}

.artist-unkown-image {
  margin-left: 13px;
    margin-right: 36px;
    width: 251px;
    height: 165px;
    background: #B7B7B7;
    outline: 2px solid #B7B7B7;
    outline-offset: 10px;
    margin-bottom: 33px;
    margin-top: 24px;
}

/* .link-active::after{
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: var(--amethyst);
  transform: width .3s ease-in-out;
}

.link-active {
  text-decoration: none;
  display: inline-block;
}

.link-active:hover::after{
  color: var(--amethyst);
  width: 100%;
}

.link-active:hover,
.link-active:active {
  background-color: none;
  color: var(--amethyst);
}

.link-active:focus {
  background-color:var(--amethyst);
  color: var(--smoky-white);
} */

.card-more {
  width: 86.5px;
  display: block;
  background-color: transparent;
  border: 0;
  color: var(--amethyst);
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition-property: background-color, border;
  transition: .2s ease-in-out;
}

/* .event-card-image-icon {
  height: inherit;
} */

.card-more:before, .card-focus:before {
  content: "";
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -15px;
  color: var(--white);
  /* background-color: var(--viola); */
  z-index: -1;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}


.card-more:hover:not(:focus-visible) {
  color: var(--viola);
}
.card-more:active:not(:focus-visible) {
  color: var(--purple);
}

.card-more:focus {
  color: var(--white);
  border-bottom: 1px solid var(--white);
}

.card-more:focus-visible:before,
.card-focus:focus-visible:before {
  opacity: 1;
  background-color: var(--purple);
  color: var(--white);
  outline: none;
  border: none;
}

 /* Event */

 .event {
   margin-bottom: 88px;
 }

 .event__container {
   position: relative;
 }
/* 
 .event-button-next,
 .event-button-prev {
   cursor: pointer;
   position: absolute;
   z-index: 111;
   top: 50%;
 }

 .button-next,
 .button-prev {
   width: 50px;
   height: 50px;
 }

 .button-next path,
 .button-prev path {
   fill: var(--smoky-white);
 }



 .button-prev {
  transform: rotate(180deg);
 } */

 /* .event-button-next {
   right: 27px;
 }

 .event-button-prev {
   left: 27px;
 } */


.events-btn-next, .events-btn-prev {
  top: 52%;
  margin-top: 0;
  width: 50px;
  height: 50px;
  color: var(--black);
  background-color: var(--smoky-white);
  border-radius: 25px;
  z-index: 2;
}

.events-btn-next:focus, .events-btn-prev:focus {
  outline: none;
}

.events-btn-next::before, .events-btn-prev::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  background-color: transparent;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  transition: border-color .3s ease-in-out, background-color .3s ease-in-out;
  content: "";
  box-sizing: border-box;
  z-index: -1;
}

.events-btn-next:focus-visible::before, .events-btn-prev:focus-visible::before {
  border-color: var(--black);
}

@media (any-hover: hover) {
  .events-btn-next:hover::before, .events-btn-prev:hover::before {
    background-color: var(--amethyst);
    border-color: var(--amethyst);
  }
}

.events-btn-next:active::before, .events-btn-prev:active::before {
  background-color: var(--amethyst);
  border-color: var(--black);
} 

.events-btn-next, .swiper-rtl .events-btn-prev {
  right: 25px;
}

.events-btn-prev, .swiper-rtl .events-btn-next {
  left: 25px;
}

.events-btn-next::after, .events-btn-prev::after {
  position: absolute;
  top: 16px;
  left: 23px;
  font-size: 18px;
}

.events-btn-prev::after {
  left: 17px;
}

.events-btn-next.swiper-button-disabled, .events-btn-prev.swiper-button-disabled {
  opacity: 0;
}

.events-pagination {
  display: none;
}

.events-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -51px;
}

.events-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: var(--agate-grey);
}

.events-pagination .swiper-pagination-bullet-active {
  background: var(--gray);
}

.events-pagination.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 7.5px;
}

 

 .card-slide {
   /* max-width: 33%; */
   height: auto;
   margin-right: 0;
   display: flex;
   flex-direction: column;
   border: 1px solid var(--agate-grey);
 }

 .event-swiper {
   position: relative;
   display: flex;
   justify-content: space-between;
   max-width: 100%;
 }

 .event-card-discr {
   height:auto ;
   padding-left: 50px;
   padding-right: 20px;
 }

 .event-card-discr {
   width: 100%;
   /* border-left: 1px solid var(--agate-grey);
   border-right: 1px solid var(--agate-grey);
   border-bottom: 1px solid var(--agate-grey); */
 }

 .event-date-text {
  padding: 3px 50px 5px;
   height: 100%;
   display: flex;
   flex-direction: column;
   
 }

 .card-date {
   text-align: start;
    font-weight: 600;
    font-size: 12px;
    line-height: 0px;
    color: var(--gray);
 }

 .card-date:not(:last-child) {
  padding-top: 18px;
 }

 .card-title {
   padding-top: 21px;
  text-align: start;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--signal-black);
 }

 .card-discr {
   margin-bottom: auto;
   text-align: start;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: var(--signal-black);
 }

 .card-more {
   margin-top: 68px;
   margin-bottom: 36px;
   color: var(--amethyst);
  font-size: 16px;
  line-height: 30px;
  border-bottom: 1px solid var(--amethyst) ;
 }

 .artist-unkown-text {
   width: 34%;
 }

 .artist-unkown-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
 }

 .artist-unkown-more {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
 }


 /* Project */

 .project {
   margin-bottom: 80px;
 }

 .project-partners-title {
   margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
 }

 .projects-descr {
   font-size: 16px;
  max-width: 68%;
  margin-bottom: 21px;
  line-height: 32px;
}

.tooltip {
  padding-left: 4px;
  background-color: transparent;
  border: none;
}

.tooltip-marker {
  padding-top: 6px;
  padding-right: 4px;
  width: 22px;
  height: 22px;
  fill: transparent;
  transition: fill .3s ease-in-out;
}

.tooltip-marker__circle {
  stroke:var(--amethyst);
}

.tooltip-marker__icon {
  fill: var(--black);
}

.tooltip:hover .tooltip-marker,
.tooltip:focus .tooltip-marker {
  fill: var(--light-purple);
}

.tooltip:active .tooltip-marker__circle {
  fill: var(--amethyst);
}

.tooltip:active .tooltip-marker__icon {
  fill: var(--white);
}

.tooltip:focus {
  outline: none;
}

/* .tooltip-3::after {
  max-width: 200px;
	background: var(--amethyst);
	border-radius: 2px 2px 2px 0px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	color: #FFF;
	content: attr(data-tooltip);
	margin-top: -18px;
	opacity: 0; 
	padding: 8px 21px;
	position: absolute;
	visibility: hidden; 
	transition: all 0.4s ease-in-out; 
}

.tooltip::after {
  max-width: 200px;
	background: var(--amethyst);
	border-radius: 2px 2px 2px 0px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	color: #FFF;
	content: attr(data-tooltip);
	margin-top: -23px;
	opacity: 0; 
	padding: 8px 21px;
	position: absolute;
	visibility: hidden; 
	transition: all 0.4s ease-in-out; 
} */

.tippy-box {
  border-radius: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: var(--white);
  background: var(--amethyst);
}

.tippy-box[data-placement^="top"]>.tippy-arrow::before {
  border-top-color: var(--amethyst);
  
}

.tippy-box[data-placement^="bottom"]>.tippy-arrow::before {
  border-bottom-color: var(--amethyst);
  
}

.tippy-box[data-placement^="left"]>.tippy-arrow::before {
  border-left-color: var(--amethyst);
}

.tippy-box[data-placement^="right"]>.tippy-arrow::before {
  border-right-color: var(--amethyst);
}
		
.tooltip:hover::after {
	opacity: 1; /* Показываем его */
	visibility: visible;
}

.projects-link {
  color: var(--amethyst);
}

.projects-link:hover {
  color: var(--light-purple);
}

.projects-link:focus-visible {
  color: var(--white);
  background: var(--amethyst);
}

.projects-link:active {
  color: var(--purple);
}

 .project__slider {
   margin: 0 72px;
   position: relative;
 }

 .project-swiper {
   max-width: 100%;
   margin: 0 auto;
   padding: 0;
   overflow: hidden;
   position: relative;
   z-index: 1;
 }

 .project__slider-slide {
   /* max-width: 33%; */
   height: 151px;
   display: flex;
   justify-content: center;
   align-items: center;
   outline: 1px solid var(--agate-grey);
   outline-offset: -1px;
   transition: outline-color .3s ease-out;
 }

 .project__slider-slide:hover {
   cursor: pointer;
   outline: 1px solid var(--amethyst);
 }

 .project__slider-slide.focus-visible {
  outline-color: var(--amethyst);
}

 /* .project-button-next,
 .project-button-prev   {
   display: block;
  position: absolute;
  top: 40%;
 } */

 .projects-btn-next, .projects-btn-prev {
  top: 40%;
  margin-top: 0;
  width: 30px;
  height: 30px;
  color: var(--black);
  background-color: var(--smoky-white);
  border-radius: 15px;
  z-index: 2;
}

.projects-btn-next:focus, .projects-btn-prev:focus {
  outline: none;
}

.projects-btn-next::before, .projects-btn-prev::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  background-color: transparent;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  transition: border-color .3s ease-in-out, background-color .3s ease-in-out;
  content: "";
  box-sizing: border-box;
  z-index: -1;
}

.projects-btn-next:focus-visible::before, .projects-btn-prev:focus-visible::before {
  border-color: var(--black);
}

@media (any-hover: hover) {
  .projects-btn-next:hover::before, .projects-btn-prev:hover::before {
    background-color: var(--light-purple);
    border-color: var(--light-purple);
  }
}

.projects-btn-next:active::before, .projects-btn-prev:active::before {
  background-color: var(--light-purple);
  border-color: var(--amethyst);
} 

.projects-btn-next, .swiper-rtl .projects-btn-prev {
  right: -71px;
}

.projects-btn-prev, .swiper-rtl .projects-btn-next {
  left: -77px;
}

.projects-btn-next::after, .projects-btn-prev::after {
  position: absolute;
  top: 10px;
  left: 14px;
  font-size: 10px;
}

.projects-btn-prev::after {
  left: 11px;
}

.projects-btn-next.swiper-button-disabled, .projects-btn-prev.swiper-button-disabled {
  opacity: 0.5;
} 

.project__slider-slide:focus-visible {
  outline: 2px solid var(--purple) ;
}





 .slide-img {
   max-height: 100%;
   max-width: 100%;
  opacity: 0.4;
  filter: grayscale(1);
  transition: filter .3s ease-in-out, opacity .3s ease-in-out;
 }


 .project__slider-slide:hover .slide-img{
   position: relative;
   filter: grayscale(0%);
   opacity: 1;
   cursor: pointer;
 }

 .button-next:hover path {
   fill: var(--amethyst);
   transition: fill .3s ease-in-out;
 }

 .button-next:active path {
  fill: var(--purple);
  border: 2px solid var(--black);
  transition: fill .3s ease-in-out;
}

.button-prev:hover path {
  fill: var(--amethyst);
  transition: fill .3s ease-in-out;
}

.button-prev:active path {
 fill: var(--purple);
 border: 2px solid var(--black);
 transition: fill .3s ease-in-out;
}

.gallary-swiper-slide::after {
  content: '';
  display: block;
  opacity: 0;
  background-image: url(../img/gallary/loupe.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 87%;
  height: 85%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 6%;
  cursor: pointer;
  transition: opacity .5s ease-in-out;
}

.gallary-swiper-slide:hover::after {
  opacity: 1;
}

.gallary-swiper-slide::before {
  content: '';
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 131, 243, 0.4);
  transition: opacity .5s ease-in-out;
}

.gallary-swiper-slide:active::before {
  opacity: 1;
}

.gallary-swiper-slide:focus-visible {
  border: 3px solid #7943A4;
}



 .project-button-next, .swiper-rtl  {
  right: -38px;
 }

 .project-button-prev, .swiper-rtl {
  left: -38px;
}



/* Contact */

.contact {
  border-top: 1px solid var(--agate-grey);
}

.contact__container {
  display: flex;
  /* justify-content: space-between; */
  height: 152px;
  /* align-items: center; */
  margin: 0 auto; 
}

.footer-form {
  position: relative;
  margin-right: auto;
}

.footer-form-item {
    display: flex;
    height: 150px;
    align-items: center;
}

.footer-form-input {
  margin-right: 21px;
  width: 270px;
  height: 50px;
  border: 1px solid var(--signal-black);
  border-radius: 100px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  padding-left: 24px;
}

.form {
  height: 150px;
  display: flex;
  align-items: center;
}

.footer-form-input::placeholder {
  color: var(--black);
   opacity: 1;
  }

.footer-form-input:hover {
  background: var(--agate-grey);
transition: background .3s ease-in-out;
}

.footer-form-input:focus {
  border-radius: 50px;
  border: 2px solid var(--viola);
  transition: border .3s ease-in-out;
}

.footer-form-input:active {
  border-radius: 50px;
  background: var(--smoky-light-white);
transition: background .3s ease-in-out;
}

.contact-title {
  margin-top: 42px;
  font-weight: 600;
font-size: 24px;
line-height: 30px;
color: var(--signal-black);
}

.contact-adress {
  margin-right: 83px;
}

.contact-discr {
  font-weight: 400;
font-size: 16px;
line-height: 10px;
color: var(--signal-black);
}

.footer-form-input::placeholder {
  color: #999999;
}


.footer-button-sent {
  padding: 11px 32px ;
  font-weight: bold;
font-size: 18px;
line-height: 25px;
color: var(--amethyst);
border: 2px solid var(--amethyst);
background: transparent;
border-radius: 30px;
transition-property: color, background, outline, border;
transition-timing-function: ease-in-out;
transition-duration: .3s;
}

.outline-focus-footer:before {
  content: "";
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: 0px;
  background-color: transparent;
  z-index: -1;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}

.contact-item {
  margin-top: 9px;
  display: flex;
}

.contact-list {
  list-style: none;
  transition-property: opacity, border;
  transition-timing-function: ease-in-out;
  transition-duration: .5s;
}

.contact-icon {
  margin-bottom: 40px;
  margin-top: 42px;
  display: flex;
  flex-direction: column;
}

.contact-list:hover,
.contact-list:focus-visible {
  cursor: pointer;
  opacity: .5;
}

.contact-list:active .social-svg{
  border-radius: 100%;
  border: 1px solid var(--amethyst);
  cursor: pointer;
  opacity: 1;
}

.footer-button-sent:hover {
  cursor: pointer;
  background: var(--amethyst);
  color: var(--white);
}

.footer-button-sent:focus-visible {
  cursor: pointer;
  outline: 1px solid var(--viola);
  border: 2px solid var(--white);
  background: var(--amethyst);
  color: var(--white);
}

.contact-list:not(:last-child) {
  margin-right: 20px;
}

.contact-list-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  color: rgb(51, 51, 51);
}

.footer-form-input-container {
  display: flex;
}

.just-validate-error-label {
  position: relative;
    font-size: 12px;
    line-height: 16px;
    bottom: 68px;
    left: 24px;
    margin-bottom: -14px;
}

.map {
  width: 100%;
  height:700px;
  background-color: var(--signal-black);
}

[class*="copyrights-pane"] {
  display: none !important;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.ymaps-2-1-79-map {
  width: 100%;
  height: 700px;
}

/* Footer */

.footer {
  background: var(--black);
}

.footer__container {
  height: 140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  min-width: 30%;
  margin-right: 20px;
}



.sociat-item {
  display: flex;
}

.social-list:not(:last-child) {
  margin-right: 20px;
}

.social-link path{
  transition: fill .3s ease-in-out;
}

.social-link:hover path {
  cursor: pointer;
  fill: var(--smoky-white);
}

.social-link:active path {
  cursor: pointer;
  fill: var(--amethyst);
}

.social-link:focus-visible path {
  cursor: pointer;
  fill: var(--amethyst);
}